
/* HEADER */

nav ul{
    display: flex;
    justify-content: space-around;
}

header{
    display: grid;
    grid-template-areas:
    "logo inscrire"
    "hebergements activites";
    justify-content: space-between;
}

.logo{
    grid-area: logo;
}
header #login{
    grid-area: inscrire;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: var(--bleu);
    font-size: 20px;
    font-weight:bolder;
}
#hebergements{
    grid-area: hebergements;
}
#activites{
    grid-area: activites;
}
#hebergements, #activites{
    border-bottom: 3px solid var(--gris);
    width: 50vw;
    text-align: center;
    color: black;
}
#hebergements:active, #activites:active{
    border-bottom: 3px solid var(--bleu);
    color: var(--bleu) !important;
}
.logo, #login, #hebergements p, #activites p{
    padding-bottom: 1rem;
}
.logo{
    padding-left: 1rem;
}
#login{
    padding-right: 2rem;
}
.logo, #login{
    padding-top: 1rem;
}

@media screen and (min-width:1024px){
    header{
        grid-template-areas:
        "logo vide hebergements activites inscrire";
    }
    #hebergements, #activites{
        border-top: 3px solid var(--gris);
        border-bottom: none;
        width: 100%;
        padding-top: 2rem;
    }
    #hebergements:active, #activites:active{
        border-top: 3px solid var(--bleu);
        border-bottom: none;
    }
    #login{
        margin-right: 2rem;
    }
}