
/* HEADER */

nav {
    display: flex;
    justify-content: space-around;
    grid-area: navigation;
}

.mobile{
    display: grid;
    grid-template-areas:
    "logo inscrire"
    "navigation navigation";
    justify-content: space-between;
}
.desktop{
    display: none;
}

.logo{
    grid-area: logo;
}
.mobile #login{
    grid-area: inscrire;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: var(--bleu);
    font-weight:bolder;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.mobile #hebergements{
    grid-area: hebergements;
}
.mobile #activites{
    grid-area: activites;
}
.mobile #hebergements, #activites{
    border-bottom: 3px solid var(--gris);
    width: 50vw;
    text-align: center;
    color: black;
}
#hebergements:active, #activites:active{
    border-bottom: 3px solid var(--bleu);
    color: var(--bleu) !important;
}
.logo, .mobile #hebergements p, .mobile #activites p{
    padding-bottom: 1rem;
}
.logo{
    padding-left: 1rem;
    padding-top: 1rem;
}

@media screen and (min-width:1024px){
    .mobile{
        display: none;
    }
    .desktop{
        display: flex;
        justify-content: space-between;
    }
    .desktop #hebergements-desktop, .desktop #activites-desktop{
        border-top: 3px solid var(--gris);
        border-bottom: none;
        width: 100%;
        padding: 2rem 2rem 0 2rem;
        color: black;
        font-weight: 500;
    }
    .desktop #hebergements-desktop:active, .desktop #activites-desktop:active, .desktop #login-desktop:active{
        border-top: 3px solid var(--bleu);
        border-bottom: none;
    }
    .desktop #login-desktop{
        padding: 2rem 2rem 0 2rem;
        color: var(--bleu);
        font-weight:bolder;
        border-top: 3px solid white;
        justify-self: flex-end;
    }
}