
/* HEADER */

nav {
    display: flex;
    justify-content: space-around;
    grid-area: navigation;
}

.header{
    display: grid;
    grid-template-areas:
    "logo inscrire"
    "navigation navigation";
    justify-content: space-between;
}

.logo{
    grid-area: logo;
}
#login{
    grid-area: inscrire;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: var(--bleu);
    font-weight:bolder;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#hebergements{
    grid-area: hebergements;
}
#activites{
    grid-area: activites;
}
#hebergements, #activites{
    border-bottom: 3px solid var(--gris);
    width: 50vw;
    text-align: center;
    color: black;
}
#hebergements:active, #activites:active{
    border-bottom: 3px solid var(--bleu);
    color: var(--bleu) !important;
}
.logo, #hebergements p, #activites p{
    padding-bottom: 1rem;
}
.logo{
    padding-left: 1rem;
    padding-top: 1rem;
}

@media screen and (min-width:1024px){
    .header{
        display: flex;
        align-items: flex-start;
    }

    #hebergements, #activites{
        border-top: 3px solid var(--gris);
        border-bottom: none;
        width: 100%;
        padding: 2rem 2rem 0 2rem;
        color: black;
        font-weight: 500;
    }
    #login{
        padding: 2rem 2rem 0 2rem;
        color: var(--bleu);
        font-weight:bolder;
        border-top: 3px solid white;
        justify-self: flex-end;
    }
    nav{
        position: absolute;
        top: 0;
        display: flex;
        right: 10%;
    }
}