.cardColumn{
    margin: 1rem;
    padding:.3rem;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
    border-radius: 20px;
}

.cardColumn img{
    width: 100%;
    height: 7rem;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.cardColumn .etoiles{
    margin-top: 0;
    padding-bottom: 0;
}

.cardColumn .nom, .cardColumn .prix{
    margin: .5rem 1rem;
}

.marseilleActivites img{
    height: 10rem;
}
@media screen and (min-width:768px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .marseille .titre{
        padding: 2rem 1rem;
    }

    .marseilleActivites{
        display: flex;
    }
}

@media screen and (min-width:1024px){
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
    .marseille{
        background-color: var(--gris);
        border-radius: 20px;
        width: 60vw;
        height: 100%;
    }
    .marseille .titreRow .titre{
        padding: 0 0 0 1rem;
    }
}
